@model AccountSecurityPasswordModel
@inject UserManager<ApplicationUser> _userManager

<h1 class="header2">Security</h1>
<div class="password-info">
    <p class="header5">Password</p>
    @if ((string)ViewData["PasswordChanged"]! != null)
    {
        @if ((string)ViewData["PasswordChanged"]! == "Your password was successfully updated!")
        {
            <p class="text-success">@ViewData["PasswordChanged"]</p>
        }
        else
        {
            <p class="text-danger">@ViewData["PasswordChanged"]</p>
        }
    }
    <form class="password-form" method="post" asp-controller="Account" asp-action="Security">
        @{
            var user = await _userManager.GetUserAsync(User);
            if (user!.IsExternalAccount)
            {
                <div class="currentPassword">
                    <label asp-for="@Model.currentPassword">Current password</label>
                    <span asp-validation-for="@Model.currentPassword"></span>
                    <input asp-for=@Model.currentPassword class="userinput" type="password" id="current-password" disabled>
                </div>

                <div class="new-password-div">
                    <div class="newPassword">
                        <label asp-for="@Model.newPassword">New password</label>
                        <span asp-validation-for="@Model.newPassword"></span>
                        <input asp-for="@Model.newPassword" class="userinput" type="password" id="new-password" disabled>
                    </div>
                    <div class="confirmPassword">
                        <label asp-for="@Model.confirmNewPassword">Confirm new password</label>
                        <span asp-validation-for="@Model.confirmNewPassword"></span>
                        <input asp-for="@Model.confirmNewPassword" class="userinput" type="password" id="confirm-new-password" disabled>
                    </div>
                </div>
                <div class="form-btns">
                    <button type="reset" class="gray-btn" disabled>Cancel</button>
                    <button type="submit" class="theme-btn" disabled>Change password</button>
                </div>
            }
            else
            {
                <div class="currentPassword">
                    <label asp-for="@Model.currentPassword">Current password</label>
                    <span asp-validation-for="@Model.currentPassword"></span>
                    <input asp-for=@Model.currentPassword class="userinput" type="password" id="current-password">
                </div>

                <div class="new-password-div">
                    <div class="newPassword">
                        <label asp-for="@Model.newPassword">New password</label>
                        <span asp-validation-for="@Model.newPassword"></span>
                        <input asp-for="@Model.newPassword" class="userinput" type="password" id="new-password">
                    </div>
                    <div class="confirmPassword">
                        <label asp-for="@Model.confirmNewPassword">Confirm new password</label>
                        <span asp-validation-for="@Model.confirmNewPassword"></span>
                        <input asp-for="@Model.confirmNewPassword" class="userinput" type="password" id="confirm-new-password">
                    </div>
                </div>
                <div class="form-btns">
                    <button type="reset" class="gray-btn">Cancel</button>
                    <button type="submit" class="theme-btn">Change password</button>
                </div>
            }
        }
    </form>
</div>