@model HomeIndexViewModel

<section id="newsletterId" class="newsletter-section">
    <div class="container">
        <div class="newsletter-title">
            <h2>Don't Want to Miss Anything?</h2>
            <img src="~/images/arrows.svg" alt="Purple arrow image">
        </div>
        <form method="post" asp-action="Subscribe" asp-controller="Home" class="newsform" novalidate>
            <div class="news-flex">
                <h3>Sign up for <br> Newsletters</h3>
                <div class="settings">
                    <div class="setting">
                        <input asp-for="@Model.Subscribe.DailyNewsletter" class="checkboxes" type="checkbox" id="DailyNewsletter">
                        <p>Daily Newsletter</p>
                    </div>

                    <div class="setting">
                        <input asp-for="@Model.Subscribe.AdvertisingUpdates" class="checkboxes" type="checkbox" id="AdvertisingUpdates">
                        <p>Advertising Updates</p>
                    </div>

                    <div class="setting">
                        <input asp-for="@Model.Subscribe.WeekInReview" class="checkboxes" type="checkbox" id="WeekInReview">
                        <p>Week in Review</p>
                    </div>

                    <div class="setting">
                        <input asp-for="@Model.Subscribe.EventUpdates" class="checkboxes" type="checkbox" id="EventUpdates">
                        <p>Event Updates</p>
                    </div>

                    <div class="setting">
                        <input asp-for="@Model.Subscribe.StartupsWeekly" class="checkboxes" type="checkbox" id="StartupsWeekly">
                        <p>Startups Weekly</p>
                    </div>

                    <div class="setting">
                        <input asp-for="@Model.Subscribe.Podcasts" class="checkboxes" type="checkbox" id="Podcasts">
                        <p>Podcasts</p>
                    </div>
                </div>
            </div>
            <div class="signup">
                <input asp-for="@Model.Subscribe.Email" type="email" id="email" placeholder="Your Email">
                <button class="theme-btn" type="submit">Subscribe *</button>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <p class="agreement">
                <span class="star-span">*</span>
                Yes, I agree to the
                <a href="#">terms</a>
                and
                <a href="#">privacy policy</a>.
            </p>
        </form>
        @if ((string)TempData["Success"] == "Success")
        {
            <p class="text-success">You are now subscribed.</p>
        }
        else if ((string)TempData["Success"] == "Invalid")
        {
            <p class="text-danger">Enter a valid email.</p>
        }
        else if ((string)TempData["Success"] == "Conflict")
        {
            <p class="text-warning">Email is already subscribed.</p>
        }
    </div>
</section>