@model NewsletterViewModel

<section class="newsletter-section">
    <div class="container">
        <div class="newsletter-title">
            <h2>@Model.Title</h2>
            <img src="@Model.Image.ImageUrl" alt="@Model.Image.AltText">
        </div>
        <form action="#" method="post" class="newsform" novalidate>
            <div class="news-flex">
                <h3>Sign up for <br> Newsletters</h3>
                <div class="settings">
                    @if (Model.Checkboxes != null)
                    {
                        foreach (var checkbox in Model.Checkboxes)
                        {
                            <div class="setting">
                                <input class="checkboxes" type="checkbox" id="@checkbox.Name" name="@checkbox.Name">
                                <p>@checkbox.Text</p>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="signup">
                <input type="email" id="email" name="email" placeholder="Your Email">
                <button class="theme-btn" type="submit">Subscribe *</button>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <p class="agreement">
                <span class="star-span">*</span>
                Yes, I agree to the
                <a href="#">terms</a>
                and
                <a href="#">privacy policy</a>.
            </p>
        </form>
    </div>
</section>