@model CourseModel

@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}

<div class="course-info">
    <div class="course-desc">
        <h2 class="display6">Course Description</h2>
        <p class="m-text">Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
        <div class="what-youll-learn">
            <h3 class="header3">What you'll learn</h3>
            <p class="m-text"><i class="fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</p>
            <p class="m-text"><i class="fa-regular fa-circle-check"></i> Nulla at consectetur vitae dignissim porttitor.</p>
            <p class="m-text"><i class="fa-regular fa-circle-check"></i> Phasellus id vitae dui aliquet mi.</p>
            <p class="m-text"><i class="fa-regular fa-circle-check"></i> Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
            <p class="m-text"><i class="fa-regular fa-circle-check"></i> In aenean dolor diam tortor orci eu.</p>
        </div>
    </div>
    <div class="course-includes">
        <h4 class="header4">This course includes</h4>
        <p class="m-text"><i class="fa-light fa-tv-retro"></i> @Model.CourseHours hours on-demand video</p>
        <p class="m-text"><i class="fa-light fa-book"></i> 18 articles</p>
        <p class="m-text"><i class="fa-sharp fa-regular fa-download"></i> 25 downloadable resources</p>
        <p class="m-text"><i class="fa-solid fa-infinity"></i> Full lifetime access</p>
        <p class="m-text"><i class="fa-regular fa-trophy"></i> Certificate of completion</p>

        <div class="course-price">
            <p class="header2">$@Model.Price</p>
            @if(Model.DiscountPrice != null && (Model.DiscountPrice != "0") && (Model.DiscountPrice != "string"))
            {
                <p class="xl-text">$@Model.DiscountPrice</p>
            }
        </div>
        <button class="theme-btn">Join course</button>
    </div>
</div>

<div class="program-details">
    <h2 class="display6">Program Details</h2>
    <div class="program">
        <img id="programDetailsImg" src="@(isDark ? "/images/1-program-dark.svg" : "/images/1-program.svg")" alt="">
        <div class="program-text">
            <p class="lead-text">Introduction. Getting started</p>
            <p class="m-text">Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
        </div>
    </div>

    <div class="program">
        <img id="programDetailsImg" src="@(isDark ? "/images/2-program-dark.svg" : "/images/2-program.svg")" alt="">
        <div class="program-text">
            <p class="lead-text">The ultimate HTML developer: advanced HTML</p>
            <p class="m-text">Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
        </div>
    </div>

    <div class="program">
        <img id="programDetailsImg" src="@(isDark ? "/images/3-program-dark.svg" : "/images/3-program.svg")" alt="">
        <div class="program-text">
            <p class="lead-text">CSS & CSS3: basic</p>
            <p class="m-text">Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
        </div>
    </div>

    <div class="program">
        <img id="programDetailsImg" src="@(isDark ? "/images/4-program-dark.svg" : "/images/4-program.svg")" alt="">
        <div class="program-text">
            <p class="lead-text">JavaScript basics for beginners</p>
            <p class="m-text">Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
        </div>
    </div>

    <div class="program">
        <img id="programDetailsImg" src="@(isDark ? "/images/5-program-dark.svg" : "/images/5-program.svg")" alt="">
        <div class="program-text">
            <p class="lead-text">Understanding APIs</p>
            <p class="m-text">Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
        </div>
    </div>

    <div class="program">
        <img id="programDetailsImg" src="@(isDark ? "/images/6-program-dark.svg" : "/images/6-program.svg")" alt="">
        <div class="program-text">
            <p class="lead-text">C# and .NET from beginner to advanced</p>
            <p class="m-text">Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
        </div>
    </div>
</div>